ncs_aiiot_gateway/flows.json
[{"id":"5c97873b.d16d18","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"22133531.f28aea","type":"mqtt-broker","z":"","name":"DGX broker","broker":"192.168.1.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b78b5d59.ab58a","type":"pcap","z":"5c97873b.d16d18","name":"","ifname":"wlan0","output":"string","filter":"","path":"","x":130,"y":200,"wires":[["2fad8c.10480274","9828610d.13903"]]},{"id":"9828610d.13903","type":"mqtt out","z":"5c97873b.d16d18","name":"gw/raspberrypi4","topic":"gw/raspberrypi4","qos":"0","retain":"","broker":"22133531.f28aea","x":600,"y":200,"wires":[]},{"id":"2fad8c.10480274","type":"debug","z":"5c97873b.d16d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":400,"wires":[]}]