ncs_aiiot_platform/flows.json
[{"id":"aefa6cdc.109ac","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"46fc6d5f.a8b094","type":"mqtt-broker","z":"","name":"DGX broker","broker":"192.168.1.118","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"306b9f6a.a851","type":"mqtt in","z":"aefa6cdc.109ac","name":"","topic":"gw/raspberrypi4","qos":"0","datatype":"auto","broker":"46fc6d5f.a8b094","x":150,"y":200,"wires":[["1114d65d.d659fa"]]},{"id":"bd73fc6c.c12a6","type":"pcap","z":"aefa6cdc.109ac","name":"","ifname":"en0","output":"raw","filter":"","path":"","x":160,"y":100,"wires":[["fd101278.14fe3","cf70b3e2.9547d"]]},{"id":"fd101278.14fe3","type":"mqtt out","z":"aefa6cdc.109ac","name":"","topic":"gw/raspberrypi4","qos":"0","retain":"","broker":"46fc6d5f.a8b094","x":430,"y":100,"wires":[]},{"id":"cf70b3e2.9547d","type":"debug","z":"aefa6cdc.109ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"1114d65d.d659fa","type":"function","z":"aefa6cdc.109ac","name":"identify_package","func":"var pcap = context.global.get('pcap');\nvar packet = pcap.decode.packet(msg.payload)\nnode.log(package)\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","x":400,"y":340,"wires":[[]]}]